name: ci-test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:14.2
        env:
          POSTGRES_DB: simple_bank
          POSTGRES_PASSWORD: secrect
          POSTGRES_USER: root
        ports:
          - 5432:5432
        # Set health checks to wait until postgres has started
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    steps:
      - uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v3
        # use with to specify the input
        with:
          go-version: 1.18
      - name: Install golang-migrate
        run: |
        curl -L https://github.com/golang-migrate/migrate/releases/download/v4.15.1/migrate.linux-amd64.tar.gz | tar xyz sudo mv migrate.linux-amd64 /user/bin/migrate which migrate
      -name: Run migration
        run: make migrateup

      - name: Test
        run: make test
